<div class="card">
    <div class="card-img-wrapper">
        <img class="card-img-top" src="assets/images/house_default.jpg">
    <ul class="list-inline text-center member-icons animate">
        <Li class="list-inline-item">
            <button class="btn btn-primary"> <i class="fa-solid fa-pen-to-square"></i> </button>
        </Li>
        <Li class="list-inline-item">
            <button class="btn btn-primary"> <i class="fa-solid fa-address-book"></i> </button>
        </Li>
    </ul>
        
    </div>
        <div class="card-body p-2">
            <h1>{{cardProperty.Type}} </h1>
            <h2>{{cardProperty.Name}} </h2>
            <h3>{{cardProperty.Price}} </h3>
        </div>
</div> 